<div class="guide-joints joints-triangle">
</div>
<div class="guide-tooltip-main">
    <div class="guide-container"></div>
    <div class="guide-button-box">
        <div class="guide-button guide-next-button <%= locals.nextclass %>" code="next" steps="<%= locals.name %>">
            <%= locals.nextLabel %>
        </div>

        <% if(locals.prevEnable){ %>
            <div class="guide-button guide-prev-button <%= locals.prevclass %>" code="prev" steps="<%= locals.name %>">
                <%= locals.prevLabel %>
            </div>
            <% } %>

                <% if(locals.skipEnable){ %>
                    <div class="guide-button guide-skip-button <%= locals.skipclass %>" code="skip"
                        steps="<%= locals.name %>">
                        <%= locals.skipLabel %>
                    </div>
                    <% } %>
                        <% if(locals.doneEnable){ %>
                            <div class="guide-button guide-done-button <%= locals.doneclass %>" code="done"
                                steps="<%= locals.name %>">
                                <%= locals.doneLabel %>
                            </div>
                            <%}%>

    </div>
</div>