<link rel="stylesheet" href="./tooltip.scss">
<div class="guide-tip-template1">
    <% if(Array.isArray(locals)) { %>
        <% locals.forEach(function(item){ %>
            <div>
                <% if (item.image) { %>
                    <div class="guide-image">
                        <img src="<%= item.image %>" alt="" />
                    </div>
                    <% } %>
                        <div class="guide-message">
                            <h3>
                                <%= item.title %>
                            </h3>
                            <p>
                                <%= item.text %>
                            </p>
                        </div>
            </div>
            <% }) %>
                <% }else{ %>
                    <div>
                        <% if (locals.image) { %>
                            <div class="guide-image">
                                <img src="<%= item.image %>" alt="" />
                            </div>
                            <% } %>
                                <div class="guide-message">
                                    <h3>
                                        <%= locals.title %>
                                    </h3>
                                    <p>
                                        <%= locals.text %>
                                    </p>
                                </div>
                    </div>
                    <% } %>

</div>